
*{
    margin: 0;
    padding: 0;
}

.p1{
    background-color: rgba(0, 0, 255, 0.829);
    color: white;
    
}

h1{
    color: yellowgreen;
    text-align: center;
}

.p2{
    text-align: center;
}